
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    /* background-color:#c78eff; */
    background: rgb(219,210,208);
    background: radial-gradient(circle, rgba(219,210,208,1) 0%, rgba(105,82,182,1) 100%);
    color: #6952b6;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

label {
  font-size: 14px;
  color: #A65F68;
}

input,
select {
  background: transparent;
  border: none;
  outline: none;
  /* border: 1px solid #6952b6; */
  border: 1px solid #A65F68;
  padding: 8px;
  margin: 15px;
  font-weight: 700;
  border-radius: 16px;
  font-size: 14px;
  color: #A65F68;
  text-align: center;
  animation: blinker 2s linear infinite;

  @media (max-width:400px ) {
        width: 100px;
    }
}



input:focus {
  border: 1px solid #fff;
  color: #fff;
  animation: none;
}

.copyright {
  color: #fff;
  font-size: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  margin: 10px;
}